body img[alt='logo-Youtube'] {
    width: 4em;
    height: 3em;
    object-fit: contain;
    margin: 0;
}

header{
    top :0;
    background-color : white;
    z-index: 99999999;
}

header .header-icone {
    padding-left: 10px;
}

header .header-top-center input {
    width: 80%;
    height: 38.5px;
    padding-left: 10px;
    font-size: 1.5rem;
}

header .header-top-right {
    font-size: 1.5rem;
}

header .header-top-center i {
    border-top: 0.1px solid #ccc;
    border-right: 0.1px solid #ccc;
    border-bottom: 0.1px solid #ccc;
    padding: 10px;
}

.header-top-left span {
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width : 650px) {
    .header-top-left span {
        display: none;
    }

    nav.header-left{
        width: 100%;
    }

}

.header-left {
    width: 220px;
    height: 100vh;
    background-color: white;
    z-index: 9999999;
    display: none ;
}

.header-left ul {
    padding-left: 1px;
    padding-top: 10px;
    height: 50%;
}

.header-left ul a {
    display: block;
    font-size: 1.1rem;
    padding: 10px 5px;
}

.header-left ul a:hover {
    background-color: #efefef;
    font-weight: bold;
}